/* /////////////////////////////////////
////////SUPERIOR Y NAVEGACIÓN////////
///////////////////////////////////// */

.navegacion {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 5rem;
	height: 70px; /* adjust as you like */
}

.navegacion .info {
	display: flex;
	align-items: center;
	gap: 4rem;
}

/* center title */
.navegacion .title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.navegacion a {
	text-decoration: none;
	font-weight: bold;
	color: var(--main-Color);
}

.navegacion h1 {
	margin: 0;
	font-size: 1.5rem;
}

/* //////////////////////
////////HEADER////////
////////////////////// */

header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.navegacionContainer {
	background-color: var(--dark-layout);
	min-width: 100%;
	padding: 2rem 0;
	padding-top: 160px; /* pushes content down so the card sits in it */
	position: relative;
	z-index: 1;
	border-radius: 0 0 2rem 2rem;
}
.tituloHeader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--main-Color);
	color: #ffff;
}
.tituloHeader__up {
	font-size: 30px;
	font-weight: bolder;
}
.tituloHeader__down {
	font-family: var(--special-Text);
	font-size: 30px;
	font-weight: lighter;
	margin: 0 0 1rem 0;
}

main {
	padding: 0 1rem;
}
