.siteContent {
	background: #111;
	color: white;
	padding: 20px;
	margin-top: 20px;
	transition: transform 0.8s ease-in-out; // smoother comeback
}
.smoothTransform {
	transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}
