$titles: "PT Sans", sans-serif;
$text: "Pompiere", sans-serif;
$special-text: "Edu NSW ACT Cursive", cursive;

$main-color: #f5eedd;
$second-color: #7be3d0;
$third-color: #017b7e;
$dark-layout: #011a27;

$transition-speed: 0.6s;
$easing: cubic-bezier(0.4, 0, 0.2, 1);
$header-height: 80px;
